h5py < 3  # XXX tensorflow 2.4.0rc3 requires h5py~=2.10.0, but you'll have h5py 3.1.0 which is incompatible.
tensorflow >= 2.3.0rc2
calamari-ocr == 1.0.*
setuptools >= 41.0.0  # tensorboard depends on this, but why do we get an error at runtime?
click
ocrd >= 2.22.0
